<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Something</title>
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css"/>
    <style >
      .completeBtn{
        width: 50px;
        height: 30px;
      }
    </style >
  </head>
  <body>
    {{{body}}}
  </body>
</html>
